body {
  font-family: GTAlpinaTypewriter;
  line-height: 1.3;
  overflow-y: auto;
  font-size: 1em;
}

.flex-container {
  left: 2;
  display: flex;
}

.flex-container > div {
  width: 100%;
  display: table;
  font-size: 1.5em;
}

.column {
  flex-direction: column;
  padding: 8px;
  transition: flex 1s, font-size 1s;
  line-height: 1.3;
}

.column:hover {
  flex: 4;
  line-height: 1.1;
  letter-spacing: 80%;
  font-size: 2em;
}

.highlight {
  background-color: #0000FF;
  color: white;
}

@font-face {
  font-family: "GTAlpinaTypewriter";
  src: url("https://cdn.glitch.global/9c82d924-e73e-4595-a15f-0d5582f46ea0/GT%20Alpina%20Typewriter%20Regular.otf?v=1707418832977")
    format("woff");
}

a:link,
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: italic;
}
