body {
  font-family: "plantin";
  line-height: 1.3;
  overflow-y: auto;
  font-size: 1.3em;
}

.flex-container {
  max-height: 70vh; /* Limiting the maximum height to 80% of the viewport height */
  overflow-y: auto; /* Adding scrollbar if content exceeds the max height */
}

.column, .clicker-desc {
  flex-direction: column;
  padding: 8px;
  transition: flex 1s, font-size 1s;
  line-height: 1.3;
  max-width: 90%;
  max-height: 70%; /* Limiting the maximum height to 80% of the container's height */
  margin: auto;
  overflow-wrap: break-word;
}

.column:hover {
  flex: 4;
  line-height: 1.1;
  letter-spacing: 80%;
  font-size: 2em;
}

.clicker {
  color: blue;
  font-size: 5em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}

.clicker-desc {
  display: none; 
  padding: 50px;
}

.clicker:hover + .flex-container {
  opacity: 30%;
}

.clicker:hover + .clicker-desc {
  display: block; 
}

@font-face {
  font-family: "GapSans";
  src: url("https://cdn.glitch.global/9c82d924-e73e-4595-a15f-0d5582f46ea0/Gap%20Sans%20Bold.ttf?v=1707419106611")
    format("woff");
}

.highlight {
  background-color: #0000ff;
  color: white; /* Start with transparent color */
  transition: color 0.5s ease-in-out; /* Add transition effect */
}

@font-face {
  font-family: "plantin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:link,
a:visited {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  font-style: none;
  text-decoration: none;
}
