body {
  font-family: "plantin";
  line-height: 1.3;
  overflow-y: auto;
  font-size: 1.1em;
}

.flex-container {
  padding-top: 20px;
  max-height: 80vh; /* Limiting the maximum height to 90% of the viewport height */
  overflow-y: auto; /* Adding scrollbar if content exceeds the max height */
  column-gap: 5px; /* Add gap between columns */
  margin: 0 auto; /* Center the flex container horizontally */
}

.column {
  display: inline-block; 
  vertical-align: top; 
  text-align: center; 
  width: 13%;
  padding: 5px;
  transition: flex 0.5s, font-size 1s;
}

.column:hover {
  flex: 3;
  line-height: 1.1;
  letter-spacing: 80%;
  font-size: 1.8em;
}

.highlight {
  font-style: italic;
}

.clicker {
  color: blue;
  font-size: 5em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}

.clicker-desc {
  display: none;
  padding: 20px;
}

@font-face {
  font-family: "GapSans";
  src: url("https://cdn.glitch.global/9c82d924-e73e-4595-a15f-0d5582f46ea0/Gap%20Sans%20Bold.ttf?v=1707419106611")
    format("woff");
}

@font-face {
  font-family: "plantin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:link,
a:visited {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  font-style: none;
  text-decoration: none;
}
