body {
  font-family: "plantin";
  line-height: 1.3;
  overflow-y: auto;
  font-size: 1.3em;
}

.column {
  display: inline-block; /* Use inline-block for columns */
  text-align: center;
  width: calc(25%);
  margin-right: 20px; /* Add margin between columns */
  margin-bottom: 20px; /* Add margin between rows */
  transition: width 0.5s; /* Transition width property */
}

.column:hover {
  width: calc(40%);
  font-size: 2em;
  transition: flex 2s, font-size 2s;
}

.highlight {
  background-color: #0000FF;
  color: white;
}

@font-face {
  font-family: "plantin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:link,
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: italic;
}
