body {
  display: flex;
  font-size: 1.5em;
  font-family: National;
  line-height: 100%;
}

.column {
  flex: 1;
  padding: 10px;
  text-align: left;
  transition: flex 1s, font-size 1s;
}

.column:hover {
  flex: 4;
  line-height: 100%;
  font-size: 2em; /* You can adjust the font size as needed */
}

.highlight {
  background-color: red; /* Adjust the color as needed */
  color: white;
}

@font-face {
  font-family: 'National';
  src: url("https://cdn.glitch.global/9c82d924-e73e-4595-a15f-0d5582f46ea0/National%20Test%20Book.woff?v=1706834140333") format('woff');
}