body {
  display: flex;
  font-size: 1.2em;
  font-family: PressuraMono;
  line-height: 1.3;
  overflow-x: auto;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  text-align: left;
  transition: flex 1s, font-size 1s;
  line-height: 1.3;
}

.column:hover {
  flex: 4;
  line-height: 1.3;
  font-size: 2em; 
}

.highlight {
  background-color: red; 
  color: white;
}

@font-face {
  font-family: "PressuraMono";
  src: url("https://cdn.glitch.global/9c82d924-e73e-4595-a15f-0d5582f46ea0/Grilli%20Type%20Pressura%20Mono%20Regular.otf?v=1706834991893")
    format("woff");
}
