body {
  display: flex;
  font-size: 1.8em;
}

.column {
  flex: 1;
  padding: 10px;
  text-align: left;
  transition: flex 1s, font-size 1s;
}

.column:hover {
  flex: 4;
  font-size: 2.3em; /* You can adjust the font size as needed */
}

.highlight {
  background-color: red; /* Adjust the color as needed */
  color: white;
}
